.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.currencyBoxes {
  display: flex;
  padding: 0 5px;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.inputAmount {
  width: 150px;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  border: 2px solid rgb(63, 108, 255);
}

.inputAmount::-webkit-outer-spin-button,
.inputAmount::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.selectCurrency {
  width: 70px;
  height: 35px;
  font-size: 20px;
  color: white;
  border: 2px solid rgb(63, 108, 255);
  background-color: rgb(63, 108, 255);
}

.loader {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/loading.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.equalSign {
  font-size: 20px;
  font-weight: bold;
}

.defaultCurrency {
  padding: 0 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(63, 108, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnConvert {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: 0;
  background: linear-gradient(90deg, rgb(61, 157, 70), rgb(0, 126, 36));
  transition: 0.5s;
}

.error {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

@media (hover: hover) {
  .inputAmount:focus {
    outline: none;
    box-shadow: 0 0 20px rgb(63, 108, 255, 0.8);
  }

  .btnConvert:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(61, 157, 70, 0.8);
  }
}
